.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    
 

}
.food-item :hover{
    transition: transform 0.5s ease; /* Adjusted transition duration */
    transform: translateY(-4px); /* Slight lift effect */
}

.food-item-image{
    width: 100%;
    height: 200px; /* Adjust height as needed */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 15px 15px 0px 0px;   /*top left, top right, bottom left, bottom right*/
}

.food-item-info{
    padding: 20px;
}

.food-item-rating {
    display: flex;
    align-items: center;
    color: #e9730b; /* Gold color for stars */
}

.food-item-rating-count {
    font-size: 0.9em;
    color: #FF8C00;
    margin-left: 10px;
}
.food-item-desc{
    color: #676767;
    font-size: 12px;
}

.food-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}


.food-item-name{
    color: #676767;
    overflow: hidden; /* Ensure no overflow */
    text-overflow: ellipsis; /* Truncate text with ellipsis */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    font-size: 20px;
    
}

.food-item-desc{
    color: #676767;
    font-size: 12px;
}

.food-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}


.food-item-img-container{
    position: relative;
}

.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.food-item-counter img{
    width: 30px;
}

