:root {
    --primary-color: #ce4e04;
    --secondary-color: #f4f4f4;
    --text-color: #333;
    --hover-color: #e0e0e0;
    --border-color: #ccc;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
  }
  
  .header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    flex-shrink: 0;
  }
  
  .profile {
    display: flex;
    flex: 1;
    height: calc(100vh - 70px); /* Adjust this if your header height changes */
  }
  
  .sidebar {
    width: 250px;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .sidebar ul li {
    width: 100%;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidebar ul li:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
  }
  
  .content {
    flex: 1;
    padding: 40px;
    background-color: #fff;
    overflow-y: auto;
  }
  
  h1, h2 {
    color: var(--primary-color);
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
  }
  
  h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
  }
  
  p {
    color: var(--text-color);
    line-height: 1.6;
  }
  
  .subscription-item, .pet-item, .personal-info, .personal-bio {
    margin-bottom: 30px;
  }
  
  .placeholder {
    font-style: italic;
    color: var(--text-color);
  }
  
  button.back-btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
  }
  
  button.back-btn:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
  }
  