
/* Layout */
.profile {
  display: flex;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

.header {
  background-color: #f36100;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.sidebar {
  width: 250px;
  background-color: #f7f7f7;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fafafa;
}

/* Sidebar */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar button {
  background: none;
  border: none;
  color: #333;
  padding: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar button:hover, .sidebar button.active {
  background-color: #ff5314;
  color: #fff;
}

/* Content */
.content h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #da5e07;
}

.content form {
  display: flex;
  flex-direction: column;
}

.content label {
  margin-bottom: 10px;
  font-weight: bold;
}

.content input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .profile {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .content {
    padding: 15px;
  }
}

/* Styles for PersonalDetails component */
.personal-details {
  margin-bottom: 20px;
}

.personal-details button {
  display: flex;
  align-items: self-end;
  background-color: transparent;
  color: #f39c12; /* Orange color */
  border: 1px solid #f39c12; /* Orange outline */
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.personal-details button:hover {
  color: #e67e22; /* Darker orange */
  border-color: #e67e22; /* Darker orange border */
}

.personal-details button svg {
  margin-right: 5px; /* Space between the icon and text */
}

.personal-details form button {
  margin-top: 10px;
}

.personal-details form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Styles for PetDetails component */
.pet-details {
  margin-bottom: 20px;
  position: relative;
}

.pet-details .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pet-details .header h2 {
  margin: 0;
}

.pet-details button {
  display: flex;
  align-items:center;
  background-color: transparent;
  color: #f39c12; /* Orange color */
  border: 1px solid #f39c12; /* Orange outline */
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pet-details button:hover {
  color: #e67e22; /* Darker orange */
  border-color: #e67e22; /* Darker orange border */
}

.pet-details button svg {
  margin-right: 5px; /* Space between the icon and text */
}

.pet-details form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.pet-details form button {
  margin-top: 10px;
}

.pet-details form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pet-details p {
  margin: 10px 0;
  font-size: 1rem;
  color: #333;
}