
/* Layout */
.profile {
  display: flex;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

.header {
  background-color: #f36100;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.sidebar {
  width: 250px;
  background-color: #e2d6d1;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fafafa;
}

/* Sidebar */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar button {
  background: none;
  border: none;
  color: #ffffff;
  padding: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar button:hover, .sidebar button.active {
  background-color: #d9c4bc;
  color: #fff;
}

/* Content */
.content h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #da5e07;
}

.content form {
  display: flex;
  flex-direction: column;
}

.content label {
  margin-bottom: 10px;
  font-weight: bold;
}

.content input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .profile {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .content {
    padding: 15px;
  }
}

/* Styles for PersonalDetails component */
.personal-details {
  margin-bottom: 20px;
}

.personal-details button {
  display: flex;
  align-items:center;
  background-color: transparent;
  color: #626262; /* Orange color */
  border: 2px solid #454140; /* Orange outline */
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 2 rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.personal-details button:hover {
  color: #e67e22; /* Darker orange */
  border-color: #e67e22; /* Darker orange border */
}

.personal-details button svg {
  margin-right: 5px; /* Space between the icon and text */
}

.personal-details form button {
  margin-top: 10px;
}

.personal-details form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.personal-details .title-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align title and button on opposite sides */
}
.personal-details p {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #0c0c0c;
}



/* Styles for PetDetails component */
.pet-details {
  margin-bottom: 20px;
  position: relative;
}

.pet-details .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pet-details .header h2 {
  margin: 0;
}
.pet-details .title-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align title and button on opposite sides */
}
.pet-details button {
  display: flex;
  align-items:center;
  background-color: transparent;
  color: #626262; /* Orange color */
  border: 2px solid #454140; /* Orange outline */
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.5 rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pet-details button:hover {
  color: #e34603; /* Darker orange */
  border-color: #e67e22; /* Darker orange border */
}

.pet-details button svg {
  margin-right: 5px; /* Space between the icon and text */
}

.pet-details form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.pet-details form button {
  margin-top: 10px;
}

.pet-details form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pet-details p {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #0c0c0c;
}

/* Container for each form element, helps in alignment and spacing */
.form-group {
  margin-bottom: 10px;
}



/* Basic styling for the dropdowns */
select {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

/* Styles for dropdowns when they are active/focused */
select:focus {
  border-color: #cb4501;
  box-shadow: 0 0 8px rgba(226, 227, 231, 0.5);
  outline: none;
}

/* Button styling */
.button {
  padding: 10px 20px;
  background-color: #f25c5c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e17f4a;
}


/* Subscriptions.css */
/* Container */
.subscriptions {
  margin-bottom: 20px;
}

/* Title Container */
.subscriptions .title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

/* Order ID */
.subscriptions h3 {
  font-size: 1rem; /* Adjust size as needed */
  margin-bottom: 5px;
  color:#626262;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 100;
}

/* Table Styles */
.subscription-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.subscription-table th,
.subscription-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.subscription-table th {
  background-color: #f7f7f7;
  font-weight: bold;
}

.subscription-table tr:hover {
  background-color: #f1f1f1;
}

/* Product Image */
.subscription-table img {
  width: 80px; /* Adjust image size */
  height: auto;
  object-fit: cover;
  border-radius: 4px; /* Optional: Rounded corners */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}

/* No Subscription Message */
.no-subscription {
  color: #777;
  font-size: 1rem;
  margin-top: 10px;
}