.cart {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cart-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cart-items {
    flex: 3;
    margin-right: 20px;
}

.checkout {
  flex: 3;
  margin-right: 20px;
}

@media (max-width: 1000px) {
  .cart-content{
    display:block;
  }
}

.cart-summary {
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    align-self: flex-start;
}

.empty-cart {
    text-align: center;
    width: 50%;           /* Adjust the width to make the card bigger */
    max-width: 600px;     /* Set a max-width to ensure it doesn't get too large on big screens */
    margin: 50px auto;   /* Increase margin to center vertically and provide more space, adjust '100px' as needed */
    padding: 40px;        /* Increase padding for more internal space */
    background-color: white;
    border-radius: 20px;  /* Increase border-radius for more rounded corners */
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  
    
    .empty-cart img {
      width: 150px; /* Adjust size as needed */
      margin-bottom: 20px;
      border-radius: 20px;
    }
    
    .empty-cart h2 {
      color: #333;
    }
    
    .empty-cart p {
      color: #666;
      margin-bottom: 20px;
    }
    
    .empty-cart button {
      background-color: #ffd700;
      border: none;
      padding: 10px 20px;
      font-size: 1.2rem;
      cursor: pointer;
      border-radius: 5px;
    }
    
    