/* Ensure the whole container is centered */
.verify-email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Full viewport height */
    background-color: #edebe2;
    /* Light background color */
    padding: 20px;
}

/* Styling for the title section */
.check-email-title {
    text-align: center;
    margin-bottom: 20px;
}

.check-email-title h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.check-email-title p {
    font-size: 16px;
    color: #666;
}

/* Styling for the form */
.check-email-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.check-email-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Styling for the button */
.submit-button {
    padding: 10px;
    background-color: #8fc8ba;
    /* Button background color */
    color: #fff;
    /* Button text color */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Smooth transition */
}

.submit-button:hover {
    background-color: #0056b3;
    /* Darker blue on hover */
}

/* Styling the placeholder text */
.check-email-form input::placeholder {
    color: rgba(130, 126, 126, 0.5);
    /* Black with 50% transparency */
    /* or use an opacity setting */
    /* opacity: 0.5; */
}



/* Responsive design for mobile devices */
@media (max-width: 600px) {
    .verify-email-container {
        padding: 10px;
    }

    .check-email-form {
        width: 100%;
    }

    .check-email-title h3 {
        font-size: 20px;
    }

    .check-email-title p {
        font-size: 14px;
    }
}


/* Error Popup Styling */
.resetpassword-error-popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffdddd;
    border: 1px solid #ff9999;
    border-radius: 8px;
    padding: 20px;
    z-index: 1100; /* Ensure it appears above the backdrop */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: 300px; /* Limit the maximum width of the popup */
    text-align: center;
  }
  
  /* Error message text */
  .resetpassword-error-popup p {
    color: #d9534f;
    font-size: 16px;
    margin: 0 0 10px 0; /* Space between text and button */
  }
  
  /* Close button for the error popup */
  .resetpassword-error-popup button {
    padding: 8px 16px;
    background-color: #d9534f; /* Red background for the button */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .resetpassword-error-popup button:hover {
    background-color: #c9302c; /* Darker red on hover */
  }
  




