/* HomePageSteps.css */

.step {
    text-align: center;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  
  .step:hover {
    transform: translateY(-10px);
    border-color: #ff690b;
  }
  
  .step img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #2f0c0c95;
  }
  
  .icon {
    font-size: 50px;
    color: #e24800;
    margin-bottom: 20px;
  }
  
  .step-number {
    font-size: 1.5em;
    font-weight: bold;
    color: #d35313;
    margin-bottom: 10px;
  }
  
  .step-description {
    font-size: 1em;
    color: #666;
  }
  