.individual-product-container {
    padding-top: 40px;

}

/* Flex container for image and details */
.product-content {
    display: flex;
    /* Enable flexbox */
    flex-direction: row;
    /* Default direction is row */
}

.product-details {
    flex: 1;
    /* Take up more space than the image */
    display: flex;
    flex-direction: column;
}


.product-title {}

.product-img {
    border: 1px solid black;
    flex: 1;
    /* Allow image to take up space */
    margin-right: 20px;
    /* Space between image and text */
    border-radius: 10px;
}

.product-img img {
    max-width: 100%;
    /* Responsive image */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 10px;
    /* Optional: add some border-radius for style */

}


.product-description {}

/* put it in a nested way so that this button's css won't affect the other buttons with the same class name*/
.individual-product-container .add-to-cart button {
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: antiquewhite;

}